{% extends 'layouts/app.html' %}

{% block title %}Housing Marketing System{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<div id="polygon-popup" class="ol-popup">
    <a href="#" id="polygon-popup-closer" class="ol-popup-closer"></a>
    <div id="polygon-popup-content"></div>
</div>

<div id="set-marker-popup" class="ol-popup">
    <div id="set-marker-popup-content">
        <form id="frm-set-marker" class="form-horizontal">
        </form>
    </div>
</div>


<div class="ui-layout-center"></div>
<div id="map" class="map"></div>


<div class="ui-layout-west">
    <div id="west-accordion">
        <h3><a href="#">인구통계</a></h3>
        <div>
            <form id="frm-west-0" class="form-horizontal">
                <!--templates/macros/form.html에 form의 action이 정의되어 있음. -->
                <div class="form-group">
                    <button id="btn-ps-area" type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#mdl-area">지역선택 +
                    </button>
                    <p><span id="spn-ps-area"></span></p>
                </div>
                <div class="form-group">
                    <select id="age-grp" name="age-grp-cd" class="selectpicker" multiple title="연령대"
                            data-size="5" data-actions-box="true" data-width="100%" data-container="body">
                    </select>
                </div>
                <div class="form-group">
                    <select id="ps-syear" name="ps-syear" class="selectpicker" title="시작년" data-size="5"
                            data-actions-box="true" data-width="48.5%" data-container="body">
                    </select>
                    <select id="ps-smonth" name="ps-smonth" class="selectpicker" title="시작월" data-size="5"
                            data-actions-box="true" data-width="48.5%" data-container="body">
                    </select>
                </div>
                <div class="form-group">
                    <select id="ps-eyear" name="ps-eyear" class="selectpicker" title="종료년" data-size="5"
                            data-actions-box="true" data-width="48.5%" data-container="body">
                    </select>
                    <select id="ps-emonth" name="ps-emonth" class="selectpicker" title="종료월" data-size="5"
                            data-actions-box="true" data-width="48.5%" data-container="body">
                    </select>
                </div>
            </form>
            <button id="btn-ps-search" class="btn btn-default pull-right" type="button"
                    onclick="srch_popltn_stats();">
                검색
            </button>
            <div class="lg-margin-top"></div>
            <span class="pull-right"><small>출처 : <a href="http://kosis.kr/statisticsList/mass/mass_list.jsp?org_id=101&tbl_id=DT_1B04005N&vw_cd=&list_id=&process=statHtml" target="_blank">통계청</a></small></span>
        </div>
    </div>
</div>


<div class="ui-layout-east">
    <div id="east-accordion">
        <h3><a href="#">UI 설정</a></h3>
        <div>
            <h3>히트맵</h3>
            <label for="radius"><span class="label label-default">Radius Size</span></label>
            <input id="radius" type="range" min="1" max="30" step="1" value="5"/>
            <br>
            <label for="blur"><span class="label label-default">Blur Size</span></label>
            <input id="blur" type="range" min="30" max="100" step="1" value="15"/>
        </div>


        <h3><a href="#">차트</a></h3>
        <div>
            <a class="btn btn-default btn-block" onclick="createChartForRadar();">
                <i class="fa fa-area-chart fa-lg text-info"></i> 레이더
            </a>
            <br>
            <a class="btn btn-default btn-block" onclick="createChartForBar()">
                <i class="fa fa-bar-chart fa-lg text-info"></i> 세로막대
            </a>
            <br>
            <a class="btn btn-default btn-block" onclick="createChartForHorizontalBar();">
                <i class="fa fa-bar-chart fa-lg text-info"></i> 가로막대
            </a>
            <br>
            <a class="btn btn-default btn-block" onclick="createChartForArea()">
                <i class="fa fa-area-chart fa-lg text-info"></i> 영역
            </a>
            <br>
            <a class="btn btn-default btn-block" onclick="createChartForLine();">
                <i class="fa fa-line-chart fa-lg text-info"></i> 라인
            </a>
            <br>
            <a class="btn btn-default btn-block" onclick="createChartForPie();">
                <i class="fa fa-pie-chart fa-lg text-info"></i> 파이
            </a>
        </div>

    </div>
</div>

<div class="ui-layout-south">
    <div class="sm-margin-top"></div>

</div>










<script type="text/javascript">
    // 다른쪽에서는 쓰는 건데 여기선 안씀
    $('#for-nav').attr('class', '');

    let apiKey = "483E0418-2F46-3223-80A1-F66D16A24685";
    let domain = "www.local_alphanets.ai";

    $('html').css('height', '100%');
    $('body').css('height', '100%');
    let $mainEl = $('#main');
    $mainEl.css('height', '97%').layout({
        west__size: '18%',
        west__resizable: false,
        east__size: '18%',
        east__resizable: false,
        south__size: '1%',
        south__minSize: '4%',
        south__zIndex: 99,
        south__onclose_start: function () {
            if (this.isClosed) {
                this.isClosed = false;
                console.log(this);
                $mainEl.layout().sizePane('south', '1%');
                $('.ui-layout-toggler-south-closed').removeClass('ui-layout-toggler-south-closed').addClass('ui-layout-toggler-south-open');
            } else {
                console.log(this);
                this.isClosed = true;
                $mainEl.layout().sizePane('south', '95%');
                $('.ui-layout-toggler-south-open').removeClass('ui-layout-toggler-south-open').addClass('ui-layout-toggler-south-closed');
            }
            return false;
        }
    });

    $('#west-accordion').accordion({heightStyle: 'content', active: 0});
    $('#east-accordion').accordion({heightStyle: 'content', active: 0});



    /*** Get Map Start ***/
    let hmsMap = new HmsMap(apiKey, domain);
    let layers = [
        hmsMap.getMidnightMap(),
        hmsMap.getGrayMap(),
        hmsMap.getSatelliteMap(),
        hmsMap.getBaseMap(),
    ];

    let hybridLayers = [
        hmsMap.getInvisibleMap(),
        hmsMap.getDistAreaMap(),
        hmsMap.getHybridMap(),
        hmsMap.getJijeockMap(),
        hmsMap.getUserPlanMap()
    ];
    /*** Get Map End ***/

    /*** Get Control Start***/
    let hmsControl = new HmsController();
    let fullScreenControl = hmsControl.getFullScreenControl();
    let zoomSliderControl = hmsControl.getZoomSliderControl();
    let scaleLineControl = hmsControl.getScaleLineControl();
    let layerSwitcherControl = hmsControl.getLayerSwitcherControl();


    /*** Get Control End***/
    let mapView = new ol.View({
        center: MAP_CONF.CENTER,
        zoom: MAP_CONF.ZOOM,
        minZoom: MAP_CONF.MIN_ZOOM,
        maxZoom: MAP_CONF.MAX_ZOOM,
        projection: ol.proj.get(MAP_CONF.PROJECTION)
    });

    let map = new ol.Map({
        controls: ol.control.defaults().extend([
            fullScreenControl,
            zoomSliderControl,
            scaleLineControl,
            layerSwitcherControl,
        ]),
        displayProjection: new OpenLayers.Projection(MAP_CONF.PROJECTION),
        interactions: ol.interaction.defaults().extend([
            new ol.interaction.DragRotateAndZoom()
        ]),
        layers: [
            new ol.layer.Group({
                title: '기본 지도',
                layers: layers
            }),
            new ol.layer.Group({
                title: '레이어 지도',
                layers: hybridLayers
            })
        ],
        logo: false,
//        overlays: [overlay, polygonPopupOverlay, setMarkerOverlay, viewMarkerOverlay],
        target: 'map',
        view: mapView
    });

    map.showTarget();
</script>

{% endblock %}