<!DOCTYPE html>
<html>
    <head>
        <title>SOP JavaScript : Map Simple</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://sgisapi.kostat.go.kr/OpenAPI3/auth/javascriptAuth?consumer_key=9632a43de88040e4ae70"></script>
        <style type="text/css">
            html, body {
                height: 100%;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="map" style="width:100%; height: 100%"></div>
        <script type="text/javascript">
            var map = sop.map('map');
            map.setView(sop.utmk(953820, 1953437), 9);
            map.on('click', function(e) {
                //alert(e.utmk);
                sop.marker(e.utmk).addTo(map);
            });
            map.on('contextmenu', function(e) {
                sop.marker(e.utmk).removeTo(map);
            });
        </script>
    </body>
</html>
