{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}비밀번호 재설정{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      {% call f.form_tag('user.begin_password_reset') %}
        <legend>비밀번호 재설정</legend>
        <p class="small help-block sm-margin-bottom">
          가입하신 이메일로 임시 비밀번호를 발급해드립니다.
        </p>

        {% call f.form_group(form.identity, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              이메일로 받기
            </button>
          </div>
          <div class="col-md-6">
            <div class="visible-xs visible-sm sm-margin-top"></div>
            <a href="{{ url_for('user.login') }}"
                class="btn btn-default btn-block">
              다시 로그인하기
            </a>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
