{% extends 'layouts/app.html' %}

{% block title %}Account settings{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>설정</h2>
        <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

        <div class="list-group">
            <a href="{{ url_for('user.update_credentials') }}"
               class="list-group-item">
                이메일과 패스워드를 입력하세요
            </a>
            <a href="{{ url_for('user.update_locale') }}"
               class="list-group-item">
                언어를 선택하세요
            </a>
            {% if current_user.username %}
            <span class="list-group-item quarter-faded text-muted">
            Your username is
            <strong>{{ current_user.username }}</strong>
          </span>
            {% else %}
            <a href="{{ url_for('user.welcome') }}"
               class="list-group-item">
                사용자 이름을 선택하세요
            </a>
            {% endif %}
        </div>

        {#<h2>Betting</h2>
        <div class="list-group">
            <a href="{{ url_for('bet.history') }}" class="list-group-item">
                Betting history
            </a>
            <span class="list-group-item quarter-faded text-warning">
          You have
          <strong>{{ current_user.coins }}</strong> coins
        </span>
        </div>
        <a href="{{ url_for('billing.purchase_coins') }}"
           class="btn btn-primary">Buy more coins</a>#}
    </div>
</div>
{% endblock %}
